<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.register.dao.RegisterDao">

    <!--校验注册账号是否重复-->
    <select id="countUserAcct" parameterType="com.xzsd.app.register.entity.RegisterInfo" resultType="int">
        select count(user_acct)
        from t_sys_user
        where is_deleted = 0
        and user_acct = #{userAcct}
        <if test="userId != null and userId != ''">
            and user_id != #{userId}
        </if>
    </select>

    <!--校验邀请码是否存在-->
    <select id="countInviteCode" parameterType="com.xzsd.app.register.entity.RegisterInfo" resultType="int">
        select count(invite_code)
        from t_sys_store
        where is_deleted = 0
        and invite_code = #{inviteCode}
    </select>

    <!--新增客户-->
    <insert id="addCustomer" parameterType="com.xzsd.app.register.entity.RegisterInfo">
        insert into
        t_sys_customer
        (
        cus_id,
        cus_name,
        cus_acct,
        phone,
        sex,
        id_card,
        email,
        is_deleted,
        gmt_create,
        create_by,
        gmt_modified,
        last_modified_by,
        version
        )
        values
           (#{userId},
            #{userName},
            #{userAcct},
            #{phone},
            #{sex},
            #{idCard},
            #{email},
            #{isDeleted},
            now(),
            #{createBy},
            now(),
            #{lastModifiedBy},
            0)
    </insert>

    <!--用户表新增用户-->
    <insert id="addUser" parameterType="com.xzsd.app.register.entity.RegisterInfo">
        insert into
        t_sys_user
        (
        user_id,
        user_name,
        user_acct,
        user_pwd,
        phone,
        sex,
        id_card,
        email,
        role,
        is_deleted,
        gmt_create,
        create_by,
        gmt_modified,
        last_modified_by,
        version
        )
        values
           (#{userId},
            #{userName},
            #{userAcct},
            #{userPwd},
            #{phone},
            #{sex},
            #{idCard},
            #{email},
            4,
            #{isDeleted},
            now(),
            #{createBy},
            now(),
            #{lastModifiedBy},
            0)
    </insert>
</mapper>
