<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.userInfo.dao.UserInfoDao">
    <!--查询登录用户角色-->
    <select id="getRole" parameterType="java.lang.String" resultType="int">
        select
        role
        from t_sys_user
        where user_id = #{userId}
    </select>

    <!--查询店长个人信息-->
    <select id="getStore" parameterType="java.lang.String" resultType="com.xzsd.app.userInfo.entity.UserInformation">
        select
            e.user_name userName,
            e.image_path imagePath,
            e.role,
            a.store_id storeId,
            a.invite_code inviteCode,
            a.store_name storeName,
            b.value province,
            c.value city,
            d.value area,
            a.store_address address,
            e.version
        from
        t_sys_store a,
        t_sys_region b,
        t_sys_region c,
        t_sys_region d,
        t_sys_user e
        where a.manager_id = e.user_id
        and a.province = b.id
        and a.city = c.id
        and a.area = d.id
        and user_id = #{userId}
        and a.is_deleted = 0
    </select>

    <!--查询司机个人信息-->
    <select id="getDriver" parameterType="java.lang.String" resultType="com.xzsd.app.userInfo.entity.UserInformation">
        select
            user_name userName,
            image_path userImage,
            role,
            phone,
            version
        from t_sys_user
        where user_id = #{userId}
    </select>

    <!--查询客户个人信息-->
    <select id="getCustomer" parameterType="java.lang.String" resultType="com.xzsd.app.userInfo.entity.UserInformation">
        select
            a.user_name userName,
            a.image_path userImage,
            a.role,
            a.version,
            c.store_id storeId,
            c.store_name storeName,
            b.invite_code inviteCode,
            c.store_address address
        from t_sys_user a,
        t_sys_customer b
		LEFT JOIN
        t_sys_store c on (b.invite_code = c.invite_code)
        where user_id = #{userId}
        and a.user_id = b.cus_id
    </select>

    <!--获取当前登录用户的密码-->
    <select id="getUserPassword" parameterType="java.lang.String"
            resultType="java.lang.String">
        select
            user_pwd
        from t_sys_user
        where user_id = #{userId}
    </select>

    <!--修改用户密码-->
    <update id="updateUserPassword" parameterType="com.xzsd.app.userInfo.entity.UserInformation">
        update t_sys_user
        set
            user_pwd = #{userNewPwd},
            gmt_modified = now(),
            last_modified_by = #{userId},
            version = version +1
        where user_id = #{userId}
        and version = #{version}
    </update>
</mapper>