<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.order.dao.OrderDao">

    <!--查询订单列表分页-->
    <select id = "listOrderByPage" parameterType="com.xzsd.pc.order.entity.OrderInfo" resultType="com.xzsd.pc.order.entity.OrderInfo">
        select
        order_id,
        order_cus_id,
        order_cus_name,
        order_total_price orderPrice,
        order_status,
        order_cus_phone,
        store_id storeId,
        pay_time,
        version
        FROM
        t_sys_order
        where is_deleted = 0
        <if test="orderCusName != null and orderCusName != ''">
            and order_cus_name like concat('%', #{orderCusName}, '%')
        </if>
        <if test="orderId != null and orderId != ''">
            and order_id like concat('%', #{orderId}, '%')
        </if>
        <if test="orderCusPhone != null and orderCusPhone != ''">
            and order_cus_phone like concat('%', #{orderCusPhone}, '%')
        </if>
        <if test="orderStatus != null and orderStatus != ''">
            and order_status = #{orderStatus}
        </if>
        <if test="payTimeStart != null and payTimeStart != '' and payTimeEnd != null and payTimeEnd != ''">
            and pay_time between #{payTimeStart} and #{payTimeEnd}
        </if>
        <if test="(payTimeStart == null or payTimeStart == '') and payTimeEnd != null and payTimeEnd != ''">
            and pay_time &lt;= #{payTimeEnd}
        </if>
        <if test="payTimeStart != null and payTimeStart != '' and (payTimeEnd == null or payTimeEnd == '')">
            and pay_time >= #{payTimeStart}
        </if>
        <if test="role == 2">
            and store_id in (select store_id from t_sys_store where manager_id = #{loginUserId})
        </if>
        order by gmt_create desc
    </select>

    <!--修改订单状态-->
    <update id = "updateOrderStatus" parameterType="com.xzsd.pc.order.entity.OrderInfo">
        update
        t_sys_order
        set
        order_status = #{orderStatus},
        gmt_modified = now(),
        last_modified_by = #{lastModifiedBy},
        version = version + 1
        where
        order_id = #{orderId}
        and
        version = #{version}
    </update>
    <!--获取订单详情-->
    <select id="getOrderById" parameterType="java.lang.String" resultType="com.xzsd.pc.order.entity.OrderDetail">
        select
        order_id orderId,
        order_cus_id orderCusId,
        goods_id goodsId,
        goods_name goodsName,
        cnt goodsCnt,
        order_total_price orderPrice,
        price,
        sales_price salesPrice
        from
        t_sys_orderdetail
        where
        order_id = #{orderId}
        and
        is_deleted = 0
    </select>
</mapper>
