<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.topOfColumn.dao.TopOfColumnDao">
    <!--获取顶部栏信息详情-->
    <select id="getTopOfColumn" parameterType="java.lang.String" resultType="com.xzsd.pc.topOfColumn.entity.TopOfColumnInfo">
        select
            user_id userId,
            user_name userName,
            role role,
            image_path imagePath
        from t_sys_user
        where user_id = #{userId}
        and is_deleted = 0
    </select>
</mapper>